TPL.SMS/TPL-ReceiveText.LogicApp.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Compose": {
        "inputs": "@triggerBody()?['data']",
        "runAfter": {},
        "type": "Compose"
      },
      "Execute_stored_procedure_(V2)": {
        "inputs": {
          "body": {
            "Date": "@body('Parse_JSON')?['receivedTimestamp']",
            "IsGolfing": "@if(startsWith(body('Parse_JSON')?['message'], 'Y'), 1, 0)",
            "Mobile": "@body('Parse_JSON')?['from']"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sql']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[AddRoundRsvp]'))}"
        },
        "runAfter": {
          "Parse_JSON": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Parse_JSON": {
        "inputs": {
          "content": "@triggerBody()?['data']",
          "schema": {
            "properties": {
              "from": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "messageId": {
                "type": "string"
              },
              "receivedTimestamp": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "Compose": [
            "Succeeded"
          ]
        },
        "type": "ParseJson"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_a_resource_event_occurs": {
        "inputs": {
          "body": {
            "properties": {
              "destination": {
                "endpointType": "webhook",
                "properties": {
                  "endpointUrl": "@{listCallbackUrl()}"
                }
              },
              "filter": {
                "includedEventTypes": [
                  "Microsoft.Communication.SMSReceived"
                ]
              },
              "topic": ""
            }
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
            }
          },
          "path": "",
          "queries": {
            "x-ms-api-version": "2017-06-15-preview"
          }
        },
        "splitOn": "@triggerBody()",
        "type": "ApiConnectionWebhook"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "azureeventgrid": {
          "connectionId": "",
          "connectionName": "azureeventgrid",
          "id": ""
        },
        "sql": {
          "connectionId": "",
          "connectionName": "sql",
          "id": ""
        }
      }
    }
  }
}