TPL.SMS/TPL-TextMembers.LogicApp.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Execute_stored_procedure_(V2)": {
        "inputs": {
          "body": {},
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sql']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[GetGolfersToSMS]'))}"
        },
        "runAfter": {
          "SMS_Message_to_send": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "For_each": {
        "actions": {
          "Send_SMS": {
            "inputs": {
              "body": {
                "from": "",
                "message": "@{outputs('SMS_Message_to_send')}",
                "smsRecipients": [
                  {
                    "to": "@items('For_each')?['Mobile']"
                  }
                ],
                "smsSendOptions": {
                  "enableDeliveryReport": false
                }
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/sms"
            },
            "runAfter": {},
            "type": "ApiConnection"
          }
        },
        "foreach": "@body('Execute_stored_procedure_(V2)')?['resultsets']?['Table1']",
        "runAfter": {
          "Execute_stored_procedure_(V2)": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "SMS_Message_to_send": {
        "inputs": "This is the golf league bot (built by Corey). Are you golfing this week (@{formatDateTime(addDays(utcNow(), 2), 'MM/dd')})? Please reply YES or NO.",
        "runAfter": {},
        "type": "Compose"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "12"
            ],
            "weekDays": [
              "Monday"
            ]
          },
          "timeZone": "Central Standard Time"
        },
        "recurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "12"
            ],
            "weekDays": [
              "Monday"
            ]
          },
          "timeZone": "Central Standard Time"
        },
        "type": "Recurrence"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "azurecommunicationservicessms": {
          "connectionId": "",
          "connectionName": "azurecommunicationservicessms",
          "id": ""
        },
        "sql": {
          "connectionId": "",
          "connectionName": "sql",
          "id": ""
        }
      }
    }
  }
}