TPL.SMS/TPL-TextCommissioners.LogicApp.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Compose_SMS_message": {
        "inputs": "[Golf league bot (built by Corey)] This week's responses: @{variables('Message')}",
        "runAfter": {
          "For_each": [
            "Succeeded"
          ]
        },
        "type": "Compose"
      },
      "Execute_stored_procedure_(V2)": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sql']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[GetRoundRsvps]'))}"
        },
        "runAfter": {
          "Initialize_variable": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "For_each": {
        "actions": {
          "Append_to_string_variable": {
            "inputs": {
              "name": "Message",
              "value": "@{items('For_each')?['Name']} @{if(equals(outputs('IsGolfing'), true), 'IN', 'OUT')}, "
            },
            "runAfter": {
              "IsGolfing": [
                "Succeeded"
              ]
            },
            "type": "AppendToStringVariable"
          },
          "IsGolfing": {
            "inputs": "@items('For_each')?['IsGolfing']",
            "runAfter": {},
            "type": "Compose"
          }
        },
        "foreach": "@body('Execute_stored_procedure_(V2)')?['resultsets']?['Table1']",
        "runAfter": {
          "Execute_stored_procedure_(V2)": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "Message",
              "type": "string"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "Send_SMS": {
        "inputs": {
          "body": {
            "from": "",
            "message": "@{outputs('Compose_SMS_message')}",
            "smsRecipients": [
              {
                "to": ""
              }
            ],
            "smsSendOptions": {
              "enableDeliveryReport": false
            }
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/sms"
        },
        "runAfter": {
          "Compose_SMS_message": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Send_SMS_2": {
        "inputs": {
          "body": {
            "from": "",
            "message": "@{outputs('Compose_SMS_message')}",
            "smsRecipients": [
              {
                "to": ""
              }
            ],
            "smsSendOptions": {
              "enableDeliveryReport": false
            }
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/sms"
        },
        "runAfter": {
          "Send_SMS": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "8"
            ],
            "weekDays": [
              "Tuesday"
            ]
          },
          "timeZone": "Central Standard Time"
        },
        "recurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "8"
            ],
            "weekDays": [
              "Tuesday"
            ]
          },
          "timeZone": "Central Standard Time"
        },
        "type": "Recurrence"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "azurecommunicationservicessms": {
          "connectionId": "",
          "connectionName": "azurecommunicationservicessms",
          "id": ""
        },
        "sql": {
          "connectionId": "",
          "connectionName": "sql",
          "id": ""
        }
      }
    }
  }
}